

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/takePicture"><i class="fas fa-camera-retro"></i></a></h2>
            <h5 class="center">Foto erstellen</h5>

            <p class="light">Durch einen Klick auf das Icon wir ein Foto im Format png erstellt. Die Erstellung dauert einige Sekunden. Das fertige Foto ist dann in der Galerie verfügbar. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/takeVideo"><i class="fas fa-video"></i></a></h2>
            <h5 class="center">Kurzvideo erstellen</h5>

            <p class="light">Durch einen Klick auf das Icon wird ein kurzes Video im Format h264 erstellt. Dieses kann dann angeschaut und heruntergeladen werden. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="/Galerie"><i class="fas fa-images"></i></a> </h2>
            <h5 class="center">Galerie</h5>

            <p class="light">Hier gelangt man zur Galerie. Dort kann man Daten herunterladen und auch Entfernen.</p>
          </div>
        </div>
      </div>
